:root{
  color:#e9edef;
  background:#0b141a;
  font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-synthesis:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

html,
body,
#root{
  margin:0;
  width:100%;
  min-height:100vh;
}

body{
  background:#0b141a;
}

a{
  color:inherit;
}
